{% extends 'adminapp/base.html' %}
{% load static %}


{% block content %}
  <div class="category_delete">
    {% if object.is_active %}
    Уверены, что хотите УДАЛИТЬ категорию <strong>{{ object.name }}</strong>?
    {% else %}
    Уверены, что хотите ВОССТАНОВИТЬ категорию <strong>{{ object.name }}</strong>?
    {% endif %}
    <form action="{% url 'admin:category_delete' object.pk %}" method="post">
      {% csrf_token %}
      {% if object.is_active %}
      <input class="btn btn-danger" type="submit" value="Удалить">
      {% else %}
      <input class="btn btn-info" type="submit" value="Восстановить">
      {% endif %}
    </form>
    <button class="btn btn-success">
      <a href="{% url 'admin:categories' %}">отмена</a>
    </button>
  </div>
{% endblock %}